@import "nib-index.styl"
@charset "utf-8";

global-reset()

@css {
	input::-moz-focus-inner, button::-moz-focus-inner { border: 0; }
}

backgroundColor = #fff
jscampYellow = orange
jscampBrown = brown
jscampGreen = green
jscampBlue = #38ACEC

#gradient
	position fixed
	top 0px
	left 0px
	bottom 0px
	right 0px
	overflow auto
	background linear-gradient(top left, #D1EBFF 0%, white 60%)
	z-index 0

#body
	position absolute
	top 0px
	left 0px
	right 0px

#logoanim
	font-size 5em
	font-weight bold
	font-family Courier, monospace
	position relative
	width 800px
	height 440px
	margin 0 auto
	
	img
		display none
	
#la_logo
	line-height 0.8em
	position absolute
	top 70px
	left 50px
	
	#la_jscamp
		color jscampBlue
	
	#la_asia
		color jscampYellow
	
	#la_undisclosured
		color white
		background-color black
		font-size 0.58em
		line-height 1em
		transform rotate(-9deg)
		position relative
		left -0.8em
		animation punch 1s linear
	
	#ls_info
		font-size 0.28em
		line-height 1em
		margin 1.5em 0 0 -3em
		text-align center
		line-height 1.35em
		color #444
		animation fadein 1.5s linear

#la_landscape
	position absolute
	top 240px
	left -50px
	font-size 3.5em

	div
		position absolute

	#la_palm
		color jscampGreen
		font-size 1.05em
		top -0.99em
		left 1.63em
		transform rotate(-80deg)
		animation palm 10s infinite ease-in-out
		
	#la_trunk
		color jscampBrown
		top -0.5em
		left 1.55em
		
	#la_sea
		color jscampBlue
		position relative
		animation sea 8s infinite ease-in-out
	
	#la_beach
		color jscampYellow

#restofwebsite
	display none
	text-align center
	padding-bottom 80px


#lbcont
	overflow hidden
	margin 10px auto 50px auto
	width 420px			

a#twitter
	display inline-block
	font-size 4.7em
	width 1.1em
	height 1em
	font-weight bold
	color white
	background #4099FF
	text-decoration none
	font-family Courier, monospace
	margin 0 25px
	border-radius 5px
	position relative

a#facebook
	display inline-block
	font-size 4.7em
	width 1.1em
	height 1em
	font-weight bold
	color white
	background #3B5998
	text-decoration none
	font-family Courier, monospace
	margin 0 25px
	border-radius 5px
	position relative

a#twitter:hover, a#facebook:hover
	animation jump 0.6s 1 ease-out

@keyframes punch
	0%
		opacity 0
	72%
		opacity 0
	75% 
		opacity 1
		transform scale(3), rotate(-3deg)
	90% 
		transform scale(0.9), rotate(-9deg)
	100% 
		transform scale(1), rotate(-9deg)

@keyframes sea
	0% 
		left -0.15em
	50% 
		left 0.05em
	100% 
		left -0.15em
		
@keyframes fadein
	0% 
		opacity 0
	80% 
		opacity 0
	100% 
		opacity 1

@keyframes palm
	0% 
		transform rotate(-80deg)
	40% 
		transform rotate(-82deg)
	55% 
		transform rotate(-88deg)
	85% 
		transform rotate(-82deg)
	100% 
		transform rotate(-80deg)
		
@keyframes jump
	0%
		top 0px
	20%
		top -30px
	24%
		top -40px
	28%
		top -30px
	48%
		top 0px
	64%
		top 10px
	80%
		top 0px
	90%
		top 4px
	100%
		top 0px
	