@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
@font-face
   font-family Courier
   font-style normal
   src url(../font/Courier.ttf)*/
input::-moz-focus-inner, button::-moz-focus-inner { border: 0; }
body {
  font-family: 'Doppio One';
}
a {
  color: #a52a2a;
}
.clear {
  clear: both;
}
#body {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.page {
  width: 100%;
  height: 100%;
  min-height: 680px;
}
.content {
  margin: 0 auto;
  width: 800px;
}
#bg {
  position: fixed;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #d1ebff), color-stop(0.6, #fff));
  background: -webkit-linear-gradient(top left, #d1ebff 0%, #fff 60%);
  background: -moz-linear-gradient(top left, #d1ebff 0%, #fff 60%);
  background: -o-linear-gradient(top left, #d1ebff 0%, #fff 60%);
  background: -ms-linear-gradient(top left, #d1ebff 0%, #fff 60%);
  background: linear-gradient(top left, #d1ebff 0%, #fff 60%);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#logoanim {
  font-size: 5em;
  font-weight: bold;
  font-family: Courier, monospace;
  position: relative;
  height: 380px;
  margin-top: 50px;
}
#logoanim img {
  display: none;
}
#la_logo {
  line-height: 0.8em;
  position: absolute;
  left: 80px;
}
#la_logo #la_jscamp {
  color: #38acec;
}
#la_logo #la_asia {
  color: #ffa500;
}
#la_logo #la_undisclosured {
  color: #fff;
  background-color: #000;
  font-size: 0.58em;
  line-height: 1em;
  -webkit-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
  position: relative;
  left: -0.8em;
  -webkit-animation: punch 1s linear;
  -moz-animation: punch 1s linear;
  -o-animation: punch 1s linear;
  -ms-animation: punch 1s linear;
  animation: punch 1s linear;
}
#la_logo #ls_info {
  font-family: 'Doppio One';
  font-size: 0.28em;
  line-height: 1em;
  margin: 1.2em 0 0 -3em;
  text-align: center;
  line-height: 1.35em;
  color: #444;
  -webkit-animation: fadein 1.5s linear;
  -moz-animation: fadein 1.5s linear;
  -o-animation: fadein 1.5s linear;
  -ms-animation: fadein 1.5s linear;
  animation: fadein 1.5s linear;
}
#la_landscape {
  position: absolute;
  top: 170px;
  left: -20px;
  font-size: 3.5em;
}
#la_landscape div {
  position: absolute;
}
#la_landscape #la_palm {
  color: #008000;
  font-size: 1.05em;
  top: -0.99em;
  left: 1.63em;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  -webkit-animation: palm 10s infinite ease-in-out;
  -moz-animation: palm 10s infinite ease-in-out;
  -o-animation: palm 10s infinite ease-in-out;
  -ms-animation: palm 10s infinite ease-in-out;
  animation: palm 10s infinite ease-in-out;
}
#la_landscape #la_trunk {
  color: #a52a2a;
  top: -0.5em;
  left: 1.55em;
}
#la_landscape #la_sea {
  color: #38acec;
  position: relative;
  -webkit-animation: sea 8s infinite ease-in-out;
  -moz-animation: sea 8s infinite ease-in-out;
  -o-animation: sea 8s infinite ease-in-out;
  -ms-animation: sea 8s infinite ease-in-out;
  animation: sea 8s infinite ease-in-out;
}
#la_landscape #la_beach {
  color: #ffa500;
}
#messageCont {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 700px;
  height: 130px;
  text-align: center;
  -webkit-transform: perspective(500px);
  -moz-transform: perspective(500px);
  -o-transform: perspective(500px);
  -ms-transform: perspective(500px);
  transform: perspective(500px);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#messageCont.flipped .front {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
#messageCont.flipped .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
#messageCont div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#messageCont div.front {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ffa500;
  background: #ffa500;
  color: #fff;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
#messageCont div.back {
  visibility: hidden;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
#messageCont #message {
  padding: 31px 40px;
  line-height: 1.4em;
  font-size: 1.5em;
}
#messageCont #sponsors {
  font-size: 0.8em;
  padding: 15px 30px 25px 30px;
  font-family: 'Doppio One';
}
#messageCont #sponsors img {
  margin: 10px;
  border: 1px solid #eee;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
#info {
  background: #008000;
  color: #fff;
  padding: 80px 0 70px 0;
  margin-bottom: 100px;
  font-weight: 1;
}
#info h2 {
  font-size: 5em;
  font-weight: bold;
  font-family: Courier, monospace;
}
#info h3 {
  margin-top: 30px;
  font-size: 1em;
  line-height: 1.3em;
}
#info h4 {
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 25px;
  font-weight: bold;
}
#info p {
  font-weight: 40;
}
#info table {
  zoom: 1;
  width: 100%;
  margin-top: 50px;
}
#info table td {
  vertical-align: top;
  font-size: 0.95em;
}
#info table #tweets {
  padding-left: 30px;
  width: 280px;
}
#twtr-widget-1 {
  font-family: 'Doppio One' !important;
  font-size: 0.9em !important;
}
#twtr-widget-1 .twtr-profile-img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#twtr-widget-1 h3 {
  display: none;
}
#twtr-widget-1 h4 {
  line-height: 1.4em !important;
  font-size: 1.7em !important;
  font-weight: 600;
}
#twtr-widget-1 h4 a {
  display: inline-block;
}
#twtr-widget-1 h4 a:before {
  content: "@";
}
#twtr-widget-1 .twtr-timeline {
  height: auto !important;
}
#twtr-widget-1 .twtr-tweet {
  position: relative;
  border: 0;
  margin: 15px 0;
}
#twtr-widget-1 .twtr-tweet .twtr-tweet-text {
  margin-top: 1em;
}
#twtr-widget-1 .twtr-tweet .twtr-tweet-text a {
  text-decoration: underline !important;
}
#twtr-widget-1 .twtr-tweet .twtr-tweet-text em {
  color: #008000;
  font-size: 0.8em !important;
  text-align: right;
}
#twtr-widget-1 .twtr-tweet .twtr-tweet-text em a {
  color: #fff !important;
  text-decoration: none !important;
}
#twtr-widget-1 .twtr-tweet .twtr-tweet-text em a:hover {
  text-decoration: underline !important;
}
#twtr-widget-1 .twtr-tweet .twtr-tweet-text em .twtr-timestamp {
  text-decoration: none !important;
  position: absolute;
  top: 0px;
  left: 8px;
  font-weight: bold;
  font-size: 1.3em;
}
#twtr-widget-1 .twtr-ft span {
  float: none;
  text-align: left;
}
#twtr-widget-1 .twtr-ft span a {
  margin-left: 27px;
}
#js {
  margin-left: 5px;
  color: #000;
  width: 3em;
  height: 3em;
  font-size: 0.5em;
  font-family: Helvetica, Arial;
  padding: 0.8em 0.2em 0em 0.6em;
  background: #ffe100;
}
#love {
  color: #eb0e0e;
}
#sessions {
  position: relative;
}
#sessions #sessionicon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  float: left;
}
#sessions #sessionicon > div {
  cursor: pointer;
  width: 1.7em;
  height: 1.1em;
  font-family: Courier, monospace;
  font-weight: bold;
  color: #fff;
  background: #ffa500;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 4em;
  padding: 0.3em 0 0.2em 0;
  margin-bottom: 20px;
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#sessions #sessionicon > div#workshops {
  padding: 0.2em 0;
  height: 1.2em;
}
#sessions #sessionicon > div#workshops span {
  font-size: 0.3em;
  padding: 2.1em 0;
}
#sessions #sessionicon > div span {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: 0.36em;
  padding: 1.7em 0;
  background: #38acec;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
#sessions #sessionicon > div.current {
  background: #38acec;
}
#sessions #sessionicon > div:hover span {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#sessions .moved #workshops {
  top: 1.9em;
}
#sessions .moved #sprints {
  top: 3.8em;
}
#sessions .sessiondesc {
  margin-left: 9em;
  display: none;
}
#sessions .sessiondesc.current {
  display: block;
}
#sessions .sessiondesc .intro {
  display: block;
  padding-bottom: 25px;
  line-height: 1.2em;
}
#sessions .sessiondesc .intro h4 {
  line-height: 1.3em;
  font-size: 5.2em;
  font-weight: bold;
  font-family: Courier, monospace;
  color: #38acec;
}
#sessions .speakers {
  float: left;
  margin: 0 20px 0 0;
  width: 12.8em;
}
#sessions .speakers:last-child {
  margin: 0;
}
#sessions .speakers li {
  margin: 0 0 18px 0;
  border: 1px solid #f2f2f2;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
#sessions .speakers li .img {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #ffa500;
  height: 150px;
}
#sessions .speakers li .img .who {
  width: 150px;
  height: 150px;
  font-size: 8em;
  background: #ddd;
  color: #fff;
  text-align: center;
}
#sessions .speakers li .img > * {
  -webkit-border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  -o-border-radius: 8px 0 0 0;
  -ms-border-radius: 8px 0 0 0;
  border-radius: 8px 0 0 0;
}
#sessions .speakers li .links {
  float: right;
}
#sessions .speakers li .links a {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -o-border-radius: 22px;
  -ms-border-radius: 22px;
  border-radius: 22px;
  margin: 6px 6px;
}
#sessions .speakers li .links a:hover {
  background-color: #38acec;
  -webkit-animation: rotate 0.3s linear;
  -moz-animation: rotate 0.3s linear;
  -o-animation: rotate 0.3s linear;
  -ms-animation: rotate 0.3s linear;
  animation: rotate 0.3s linear;
}
#sessions .speakers li .links a.twitter {
  background-image: url("../img/twitter.png");
  background-repeat: no-repeat;
  background-position: 6px 6px;
}
#sessions .speakers li .name {
  font-family: Courier, monospace;
  color: #38acec;
  font-weight: bold;
  font-size: 1.55em;
  padding: 15px 20px 0 20px;
}
#sessions .speakers li .bio {
  padding: 15px 20px 20px 20px;
  font-weight: 20;
  line-height: 1.3em;
  font-size: 0.9em;
}
#venue {
  clear: both;
  padding: 100px 0 0 0;
}
#venue #venuedesc {
  padding: 100px 0 1000px 0;
  background: #ffa500;
}
#top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: none;
}
table.colors {
  width: 100%;
  font-size: 1.7em;
  line-height: 1em;
  border-bottom: 1px solid #f4faff;
}
table.colors td {
  padding: 3px 6px 5px 6px;
  font-weight: bold;
  height: 5px;
}
table.colors td a {
  float: right;
  font-size: 0.5em;
  color: #fff;
  text-decoration: none;
  padding-right: 5px;
}
table.colors td:nth-child(1) {
  font-family: Courier, monospace;
  background: #d1ebff;
  width: 7em;
  text-align: center;
}
table.colors td:nth-child(2) {
  background: #000;
  color: #fff;
  width: 2.4em;
  font-size: 0.75em;
}
table.colors td:nth-child(3) {
  background: #a52a2a;
  width: 0.2em;
}
table.colors td:nth-child(4) {
  background: #008000;
  width: 2em;
}
table.colors td:nth-child(5) {
  background: #ffa500;
}
table.colors td:nth-child(6) {
  background: #38acec;
  width: 30%;
}
.jscamp {
  color: #38acec;
}
.asia {
  color: #ffa500;
}
@-moz-keyframes punch {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  72% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  75% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(3) rotate(-3deg);
    -moz-transform: scale(3) rotate(-3deg);
    -o-transform: scale(3) rotate(-3deg);
    -ms-transform: scale(3) rotate(-3deg);
    transform: scale(3) rotate(-3deg);
  }

  90% {
    -webkit-transform: scale(0.9) rotate(-9deg);
    -moz-transform: scale(0.9) rotate(-9deg);
    -o-transform: scale(0.9) rotate(-9deg);
    -ms-transform: scale(0.9) rotate(-9deg);
    transform: scale(0.9) rotate(-9deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(-9deg);
    -moz-transform: scale(1) rotate(-9deg);
    -o-transform: scale(1) rotate(-9deg);
    -ms-transform: scale(1) rotate(-9deg);
    transform: scale(1) rotate(-9deg);
  }
}
@-webkit-keyframes punch {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  72% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  75% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(3) rotate(-3deg);
    -moz-transform: scale(3) rotate(-3deg);
    -o-transform: scale(3) rotate(-3deg);
    -ms-transform: scale(3) rotate(-3deg);
    transform: scale(3) rotate(-3deg);
  }

  90% {
    -webkit-transform: scale(0.9) rotate(-9deg);
    -moz-transform: scale(0.9) rotate(-9deg);
    -o-transform: scale(0.9) rotate(-9deg);
    -ms-transform: scale(0.9) rotate(-9deg);
    transform: scale(0.9) rotate(-9deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(-9deg);
    -moz-transform: scale(1) rotate(-9deg);
    -o-transform: scale(1) rotate(-9deg);
    -ms-transform: scale(1) rotate(-9deg);
    transform: scale(1) rotate(-9deg);
  }
}
@-o-keyframes punch {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  72% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  75% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(3) rotate(-3deg);
    -moz-transform: scale(3) rotate(-3deg);
    -o-transform: scale(3) rotate(-3deg);
    -ms-transform: scale(3) rotate(-3deg);
    transform: scale(3) rotate(-3deg);
  }

  90% {
    -webkit-transform: scale(0.9) rotate(-9deg);
    -moz-transform: scale(0.9) rotate(-9deg);
    -o-transform: scale(0.9) rotate(-9deg);
    -ms-transform: scale(0.9) rotate(-9deg);
    transform: scale(0.9) rotate(-9deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(-9deg);
    -moz-transform: scale(1) rotate(-9deg);
    -o-transform: scale(1) rotate(-9deg);
    -ms-transform: scale(1) rotate(-9deg);
    transform: scale(1) rotate(-9deg);
  }
}
@-ms-keyframes punch {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  72% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  75% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(3) rotate(-3deg);
    -moz-transform: scale(3) rotate(-3deg);
    -o-transform: scale(3) rotate(-3deg);
    -ms-transform: scale(3) rotate(-3deg);
    transform: scale(3) rotate(-3deg);
  }

  90% {
    -webkit-transform: scale(0.9) rotate(-9deg);
    -moz-transform: scale(0.9) rotate(-9deg);
    -o-transform: scale(0.9) rotate(-9deg);
    -ms-transform: scale(0.9) rotate(-9deg);
    transform: scale(0.9) rotate(-9deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(-9deg);
    -moz-transform: scale(1) rotate(-9deg);
    -o-transform: scale(1) rotate(-9deg);
    -ms-transform: scale(1) rotate(-9deg);
    transform: scale(1) rotate(-9deg);
  }
}
@keyframes punch {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  72% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  75% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transform: scale(3) rotate(-3deg);
    -moz-transform: scale(3) rotate(-3deg);
    -o-transform: scale(3) rotate(-3deg);
    -ms-transform: scale(3) rotate(-3deg);
    transform: scale(3) rotate(-3deg);
  }

  90% {
    -webkit-transform: scale(0.9) rotate(-9deg);
    -moz-transform: scale(0.9) rotate(-9deg);
    -o-transform: scale(0.9) rotate(-9deg);
    -ms-transform: scale(0.9) rotate(-9deg);
    transform: scale(0.9) rotate(-9deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(-9deg);
    -moz-transform: scale(1) rotate(-9deg);
    -o-transform: scale(1) rotate(-9deg);
    -ms-transform: scale(1) rotate(-9deg);
    transform: scale(1) rotate(-9deg);
  }
}
@-moz-keyframes sea {
  0% {
    left: -0.15em;
  }

  50% {
    left: 0.05em;
  }

  100% {
    left: -0.15em;
  }
}
@-webkit-keyframes sea {
  0% {
    left: -0.15em;
  }

  50% {
    left: 0.05em;
  }

  100% {
    left: -0.15em;
  }
}
@-o-keyframes sea {
  0% {
    left: -0.15em;
  }

  50% {
    left: 0.05em;
  }

  100% {
    left: -0.15em;
  }
}
@-ms-keyframes sea {
  0% {
    left: -0.15em;
  }

  50% {
    left: 0.05em;
  }

  100% {
    left: -0.15em;
  }
}
@keyframes sea {
  0% {
    left: -0.15em;
  }

  50% {
    left: 0.05em;
  }

  100% {
    left: -0.15em;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  80% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  80% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  80% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  80% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  80% {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

  100% {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  }
}
@-moz-keyframes palm {
  0% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }

  40% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  55% {
    -webkit-transform: rotate(-88deg);
    -moz-transform: rotate(-88deg);
    -o-transform: rotate(-88deg);
    -ms-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }

  85% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  100% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
}
@-webkit-keyframes palm {
  0% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }

  40% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  55% {
    -webkit-transform: rotate(-88deg);
    -moz-transform: rotate(-88deg);
    -o-transform: rotate(-88deg);
    -ms-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }

  85% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  100% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
}
@-o-keyframes palm {
  0% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }

  40% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  55% {
    -webkit-transform: rotate(-88deg);
    -moz-transform: rotate(-88deg);
    -o-transform: rotate(-88deg);
    -ms-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }

  85% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  100% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
}
@-ms-keyframes palm {
  0% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }

  40% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  55% {
    -webkit-transform: rotate(-88deg);
    -moz-transform: rotate(-88deg);
    -o-transform: rotate(-88deg);
    -ms-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }

  85% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  100% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
}
@keyframes palm {
  0% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }

  40% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  55% {
    -webkit-transform: rotate(-88deg);
    -moz-transform: rotate(-88deg);
    -o-transform: rotate(-88deg);
    -ms-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }

  85% {
    -webkit-transform: rotate(-82deg);
    -moz-transform: rotate(-82deg);
    -o-transform: rotate(-82deg);
    -ms-transform: rotate(-82deg);
    transform: rotate(-82deg);
  }

  100% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
