@import "nib-index.styl"
@charset "utf-8";

global-reset()
/*
@font-face
   font-family Courier
   font-style normal
   src url(../font/Courier.ttf)*/

@css {
	input::-moz-focus-inner, button::-moz-focus-inner { border: 0; }
}

backgroundColor = #fff
jscampYellow = orange
jscampBrown = brown
jscampGreen = green
jscampBlue = #38ACEC
mWidth = 800px

body
	font-family 'Doppio One'
	
a
	color jscampBrown
	
.clear
	clear both

#body
	position absolute
	top 0px
	left 0px
	bottom 0px
	right 0px

.page
	width 100%
	height 100%
	min-height 680px

#bg
	position fixed
	background linear-gradient(top left, #D1EBFF 0%, white 60%)
	top 0px
	left 0px
	right 0px
	bottom 0px

#logoanim
	font-size 5em
	font-weight bold
	font-family Courier, monospace

	position relative
	width mWidth
	height 380px
	margin 50px auto 0 auto
	
	img
		display none
	
#la_logo
	line-height 0.8em
	position absolute
	left 80px

	
	#la_jscamp
		color jscampBlue
	
	#la_asia
		color jscampYellow
	
	#la_undisclosured
		color white
		background-color black
		font-size 0.58em
		line-height 1em
		transform rotate(-9deg)
		position relative
		left -0.8em
		animation punch 1s linear
	
	#ls_info
		font-family 'Doppio One'
		font-size 0.28em
		line-height 1em
		margin 1.2em 0 0 -3em
		text-align center
		line-height 1.35em
		color #444
		animation fadein 1.5s linear

#la_landscape
	position absolute
	top 170px
	left -20px
	font-size 3.5em

	div
		position absolute

	#la_palm
		color jscampGreen
		font-size 1.05em
		top -0.99em
		left 1.63em
		transform rotate(-80deg)
		animation palm 10s infinite ease-in-out
		
	#la_trunk
		color jscampBrown
		top -0.5em
		left 1.55em
		
	#la_sea
		color jscampBlue
		position relative
		animation sea 8s infinite ease-in-out
	
	#la_beach
		color jscampYellow

#messageCont
	display none
	position relative
	margin 0 auto
	width 700px
	height 130px
	text-align center
	transform perspective(500px)
	transform-origin center center
	transform-style preserve-3d

	&.flipped
		.front
			transform rotateX(-180deg)
		.back
			transform rotateX(0deg)
	
	div
		position absolute
		top 0px
		bottom 0px
		left 0px
		right 0px
		backface-visibility hidden
		transition all 0.4s ease-out


		&.front
			border-radius 8px
			border 1px solid jscampYellow
			background jscampYellow
			color #fff
			transform rotateX(0deg)
			
		&.back
			visibility hidden
			transform rotateX(180deg)

	
	#message
		padding 31px 40px
		line-height 1.4em
		font-size 1.5em

	
	#sponsors
		font-size 0.8em
		padding 15px 30px 25px 30px
		font-family 'Doppio One'
		
		img
			margin 10px
			border 1px solid #eee
			border-radius 8px
			

.headline
	background jscampGreen
	color #fff
	padding 80px 0 70px 0
	margin-bottom 100px
	
.headline > h2
	margin 0 auto
	width mWidth
	font-size 5em
	font-weight bold
	font-family Courier, monospace
	
.headline > h3
	margin 30px auto 0 auto
	width mWidth
	font-size 1em
	line-height 1.3em
	
#js
	margin-left 5px
	color #000
	width 3em
	height 3em
	font-size 0.5em
	font-family Helvetica, Arial
	padding 0.8em 0.2em 0em 0.6em
	background #FFE100
	
#love
	color #EB0E0E
	
#sessions
	width mWidth
	position relative
	margin 0 auto
	
	#sessionicon
		-webkit-touch-callout none
		user-select none
		position relative
		float left
		
		> div		
			cursor pointer
			width 1.7em
			height 1.1em
			font-family Courier, monospace
			font-weight bold
			color #fff
			background jscampYellow
			border-radius 8px
			text-align center
			font-size 4em
			padding 0.3em 0 0.2em 0
			margin-bottom 20px
			position absolute
			top 0px
			transition all 0.5s ease-out
			
			&#workshops
				padding 0.2em 0
				height 1.2em
				
				span
					font-size 0.3em
					padding 2.1em 0
				
			span
				opacity 0
				position absolute
				top 0px
				left 0px
				bottom 0px
				right 0px
				font-size 0.36em
				padding 1.7em 0
				background jscampBlue
				border-radius 8px
			
			&.current 
				background jscampBlue
			
			&:hover span
				opacity 1

				
	.moved
		#workshops
			top 1.9em
		#sprints
			top 3.8em
		
	.sessiondesc
		margin-left 9em
		display none
		
		&.current
			display block
		
		.intro
			display block
			padding-bottom 25px
			line-height 1.2em
			
			h4
				line-height 1.3em
				font-size 5.2em
				font-weight bold
				font-family Courier, monospace
				color jscampBlue

	.speakers
		float left
		margin 0 20px 0 0
		width 12.8em
		
		&:last-child
			margin 0
		
		li
			margin 0 0 18px 0
			border 1px solid #f2f2f2
			background #fff
			border-radius 8px
			
			.img
				border-radius 8px 8px 0 0
				background jscampYellow
				height 150px
				
				.who
					width 150px
					height 150px
					font-size 8em
					background #ddd
					color #fff
					text-align center
				
				> *
					border-radius 8px 0 0 0
					
			.links
				float right
				
				a
					display block
					width 40px
					height 40px
					cursor pointer
					border-radius 22px
					margin 6px 6px
					
					&:hover
						background-color jscampBlue
						animation rotate 0.3s linear
			
					&.twitter
						background-image url(../img/twitter.png)
						background-repeat no-repeat
						background-position 6px 6px
					
			.name
				font-family Courier, monospace
				color jscampBlue
				font-weight bold
				font-size 1.55em
				padding 15px 20px 0 20px
				
			.bio
				padding 15px 20px 20px 20px
				font-weight 20
				line-height 1.3em
				font-size 0.9em
			
	
#venue
	clear both
	padding 100px 0 0 0
	
	#venuebg
		padding 100px 0 1000px 0
		background jscampYellow

			
#top
	position fixed
	top 0px
	left 0px
	right 0px
	display none

table.colors
	width 100%
	font-size 1.7em
	line-height 1.0em
	border-bottom 1px solid #f4faff
	
	td
		padding 3px 6px 5px 6px
		font-weight bold
		height 5px
		
		a
			float right
			font-size 0.5em
			color #fff
			text-decoration none
			padding-right 5px
			

	td:nth-child(1)
		font-family Courier, monospace
		background #D1EBFF
		width 7em
		text-align center
	td:nth-child(2)
		background #000
		color #fff
		width 2.4em
		font-size 0.75em
	td:nth-child(3)
		background jscampBrown
		width 0.2em
	td:nth-child(4)
		background jscampGreen
		width 2em
	td:nth-child(5)
		background jscampYellow
	td:nth-child(6)
		background jscampBlue
		width 30%

.jscamp
	color jscampBlue
.asia
	color jscampYellow


@keyframes punch
	0%
		opacity 0
	72%
		opacity 0
	75% 
		opacity 1
		transform scale(3), rotate(-3deg)
	90% 
		transform scale(0.9), rotate(-9deg)
	100% 
		transform scale(1), rotate(-9deg)

@keyframes sea
	0% 
		left -0.15em
	50% 
		left 0.05em
	100% 
		left -0.15em
		
@keyframes fadein
	0% 
		opacity 0
	80% 
		opacity 0
	100% 
		opacity 1

@keyframes palm
	0% 
		transform rotate(-80deg)
	40% 
		transform rotate(-82deg)
	55% 
		transform rotate(-88deg)
	85% 
		transform rotate(-82deg)
	100% 
		transform rotate(-80deg)
		
@keyframes rotate
	0%
		transform rotate(0deg)
	100%
		transform rotate(359deg)
	